{% extends "base.html" %} {% block content %}

<div class="main_title">
  <h1>Search for movies and sort them based on Preferences!</h1>
</div>

<div>
  <div class="nice_list">
    <h2><a href="/movies_by_genre">Find Movies By Genre</a></h2>
  </div>
  <div class="nice_list">
    <h2><a href="/movies_last_month">Find Best Movies In February</a></h2>
  </div>
  <div class="nice_list">
    <h2><a href="/movies_by_rating">Find Movies By Rating</a></h2>
  </div>
  <div class="nice_list">
    <h2><a href="/movie_by_release">Find Movies By Release Date</a></h2>
  </div>
  <div class="nice_list">
    <h2><a href="/movies_alphabetical">Find Movies Alphabetically</a></h2>
  </div>
  <div class="nice_list">
    <h2><a href="/bookmarks">See Bookmarks</a></h2>
  </div>
</div>

{% endblock %}
