{% extends "base.html" %} {% block content %}

<div class="page_title"><h1>Find Movies by Rating</h1></div>

<div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">
      <a href="/movies_by_rating/{{ 'Ascending' }}">Ascending</a>
    </button>
    <button type="button" class="btn btn-outline-primary">
      <a href="/movies_by_rating/{{ 'Descending' }}">Descending</a>
    </button>
  </div>
</div>

<div>
  <ul class="list-group">
    {% for movie in movies %}
    <li class="list-group-item" style="display: flex; align-items: center">
      <b>{{ movie[1] }}</b>, Rating: {{ movie[4] }}
      <form action="/bookmark/rating" method="post">
        <button
          name="movie_id"
          value="{{ movie[0] }}"
          type="submit"
          style="font-size: x-small; margin-left: 1rem"
          class="btn btn-outline-primary"
        >
          Bookmark
        </button>
      </form>
    </li>

    {% endfor %}
  </ul>
</div>

{% endblock %}
